@using QDLogistics.Models;
@{ Packages package = ViewBag.package; }

<table class="text-center hidden">
    <tbody>
        @{
            foreach (Items item in package.Items.Where(i => i.IsEnable == true).ToList())
            {
                <tr class="datagrid-row">
                    <td width="24"><div class="datagrid-cell"></div></td>
                    <td><div class="datagrid-cell-check"><!--<input type="checkbox" name="ck" value="">--></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-OrderID"></div></td>
                </tr>
                if (item.KitItemCount > 0)
                {
                    foreach (BundleItems bundle in item.BundleItems.ToList())
                    {
                        <tr class="datagrid-row">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
<table class="text-center">
    <tbody class="datagrid-body">
        @{
            foreach (Items item in package.Items.Where(i => i.IsEnable == true).ToList())
            {
                <tr class="datagrid-row">
                    <td><div class="datagrid-cell datagrid-cell-c1-eBayUserID"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-PaymentDate"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Sku">@item.ProductID</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-DisplayName">@item.DisplayName</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-OrderQtyTotal">@item.Qty</div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ShippingCountry"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-PostalCode"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-SubTotal">@item.UnitPrice.Value.ToString("N")</div></td>
                    <td>
                        <div style="text-align:center;height:auto;" class="datagrid-cell datagrid-cell-c1-DeclaredTotal">
                            @{
                                var DeclaredValue = item.DeclaredValue != 0 ? item.DeclaredValue : item.UnitPrice.Value;
                            }
                            <input type='text' class='form-control input-sm' id="DeclaredValue" data-id="@item.ID" data-qty="@item.Qty" value="@DeclaredValue.ToString("N")" onchange="changePrice(@item.PackageID)" />
                        </div>
                    </td>
                    <td><div class="datagrid-cell datagrid-cell-c1-OrderCurrencyCode"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ShipWarehouse"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-AvailableQty"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ShippingServiceSelected"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-MethodID"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Export"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-ExportMethod"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-StatusCode"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-RushOrder"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-UploadTracking"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-InBox"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Instructions"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-Comment"></div></td>
                    <td><div class="datagrid-cell datagrid-cell-c1-save"></div></td>
                </tr>
                if (item.KitItemCount > 0)
                {
                    foreach (BundleItems bundle in item.BundleItems.ToList())
                    {
                        <tr class="datagrid-row">
                            <td><div class="datagrid-cell datagrid-cell-c1-eBayUserID"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-PaymentDate"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-Sku">@bundle.ProductID</div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-DisplayName">@bundle.Skus.ProductName</div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-OrderQtyTotal">@bundle.Qty</div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-ShippingCountry"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-PostalCode"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-SubTotal"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-DeclaredTotal"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-OrderCurrencyCode"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-ShipWarehouse"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-AvailableQty"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-ShippingServiceSelected"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-MethodID"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-Export"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-ExportMethod"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-StatusCode"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-RushOrder"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-UploadTracking"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-InBox"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-Instructions"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-Comment"></div></td>
                            <td><div class="datagrid-cell datagrid-cell-c1-save"></div></td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
