@using QDLogistics.Models;
@model QDLogistics.Models.Packages
@{
    foreach (Items item in Model.Items.Where(i => i.IsEnable.Value).ToList())
    {
        <tr>
            <td>
                @if (item.KitItemCount == 0)
                {
                    <label class="checkbox no-padding">
                        <input type="checkbox" name="chk" data-id="@item.ID"><i style="top:0;"></i>
                    </label>
                }
            </td>
            <td>@item.ProductID</td>
            <td>@item.Skus.ProductName</td>
            <td>@item.Qty</td>
            <td class="no-padding">
                @if (item.KitItemCount == 0)
                {
                    <label class="input">
                        <input type="text" class="input-sm" data-max="@item.Qty" value="1">
                    </label>
                }
            </td>
        </tr>

        if (item.KitItemCount != 0)
        {
            foreach (BundleItems BundleItem in item.BundleItems.Where(b => b.IsEnable.Value).ToList())
            {
                <tr>
                    <td>
                        <label class="checkbox no-padding">
                            <input type="checkbox" name="chk" data-id="@BundleItem.ID"><i style="top:0;"></i>
                        </label>
                    </td>
                    <td>@BundleItem.ProductID</td>
                    <td>@BundleItem.Skus.ProductName</td>
                    <td>@BundleItem.Qty</td>
                    <td class="no-padding">
                        <label class="input">
                            <input type="text" class="input-sm" data-max="@BundleItem.Qty" value="1">
                        </label>
                    </td>
                </tr>
            }
        }
    }
}