@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="table-parent tool-content col-xs-12">
                <div class="action-button col-xs-2 col-xs-offset-10">
                    <a class="btn btn-default" id="btn-add" href="@Url.Action("carrierCreate", "shipping")">新增運輸商</a>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script type="text/javascript">
        var selected = false, ApiOption;
        var $dataGrid;

        $(function () {
            getOption("@Url.Action("getSelectOption", "Shipping")", 'post', { optionType: ['carrierApi'] }).done(function (response) {
                if (response['status']) {
                    ApiOption = response.data.carrierApi;

                    dataInit();
                } else {
                    alert(response['message']);
                }
            });
        });

        function dataInit() {
            $dataGrid = $("#DataGrid").datagrid({
                title: "運輸商 列表",
                url: "@Url.Action("CarrierData", "ajax")",
                queryParams: {
                },
                width: "100%",
                height: "700",
                columns: [[
                    { field: "ID", title: "Carrier ID<br />運輸商 ID", width: "10%", align: "center", sortable: false },
                    {
                        field: "Name", title: "Name<br />運輸商名稱", width: "20%", align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            return "<input type='text' class='form-control input-sm' id='Name-" + index + "' value='" + value + "' onchange='onSelect(" + index + ")'>";
                        }
                    }, {
                        field: "Email", title: "Email<br />聯絡信箱", width: "30%", align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            return "<input type='text' class='form-control input-sm' id='Email-" + index + "' value='" + $.trim(value) + "' onchange='onSelect(" + index + ")'>";
                        }
                    }, {
                        field: "Api", title: "Carrier Api<br />運輸商 Api", width: "15%", align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            return "<select class='form-control input-sm' id='Api-" + index + "' onchange='onSelect(" + index + ")'>" + getSelectOption(ApiOption, value) + "</select>";
                        }
                    }, {
                        field: "edit", title: "", width: "56", sortable: false,
                        formatter: function (value, row, index) {
                            return "<a class='btn btn-default btn-sm' href='@Url.Action("carrierEdit", "shipping")/" + row.ID + "'>EDIT</a>"
                        }
                    }, {
                        field: "save", title: "<button type='button' class='btn btn-default btn-sm' onclick='saveData()'>SAVE</button>", width: "60", sortable: false,
                        formatter: function (value, row, index) {
                            return "<button type='button' class='btn btn-default btn-sm' id='btn-" + index + "' onclick='saveData(" + index + ")' disabled>SAVE</button>"
                        }
                    }
                ]],
                onBeforeSelect: selectAction,
                onBeforeUnselect: selectAction,
                onSelect: function (index, row) {
                    $("#btn-" + index).removeAttr("disabled");
                }
            });
        }

        function selectAction(index, row) {
            if (selected) {
                selected = false;
                return true;
            }

            return false;
        }

        function onSelect(index) {
            selected = true;
            $dataGrid.datagrid('selectRow', index);
        }

        function saveData(index) {
            var data = [];

            if (index == undefined) {
                var rows = $dataGrid.datagrid('getSelections');
                for (var i in rows) {
                    index = $dataGrid.datagrid('getRowIndex', rows[i]);
                    data.push(setData(rows[i], index));
                    $("#btn-" + index).attr("disabled", "disabled");
                }
                $dataGrid.datagrid("clearSelections");
            } else {
                row = $dataGrid.datagrid("getRows")[index];
                data.push(setData(row, index));
                $("#btn-" + index).attr("disabled", "disabled");

                selected = true;
                $dataGrid.datagrid('unselectRow', index);
            }

            if (data.length > 0) {
                updateData(data).done(function (response) {
                    if (response['status']) {
                        alert("Success!");
                    } else {
                        alert(response['message']);
                    }
                });
            }
        }

        function setData(row, index) {
            return {
                ID: row.ID,
                Name: $("#Name-" + index).val(),
                Email: $("#Email-" + index).val(),
                Api: $("#Api-" + index).val()
            }
        }

        function updateData(data) {
            return $.ajax({
                url: "@Url.Action("carrierUpdate", "ajax")",
                type: "post",
                data: { data: data },
                dataType: "json"
            });
        }

        function setCheckBox(index, field, value) {
            var name = field + "-" + index;
            return "<input type='checkbox' class='form-control' id='" + name + "' " + (value ? "checked" : "") + " onchange='onSelect(" + index + ")'>";
        }

        function getSelectOption(optionList, value, group) {
            var option = "";

            if (group != undefined) {
                option += "<optgroup label='" + group + "'>";
            }

            if (optionList.length > 0) {
                for (var i in optionList) {
                    option += "<option value='" + optionList[i]["value"] + "' " + (optionList[i]["value"] == value ? "selected" : "") + ">" + optionList[i]["text"] + "</option>";
                }
            }

            if (group != undefined) {
                option += "</optgroup>";
            }

            return option;
        }

        function getOption(url, type, data) {
            type = !isEmpty(type) ? type : 'get';
            data = !isEmpty(data) ? data : {};

            return $.ajax({ url: url, type: type, data: data, dataType: "json" });
        }

        function isEmpty(value) {
            return (value == undefined) || (value == null) || (value == "");
        }
    </script>
}