@using QDLogistics.Models
@using QDLogistics.Commons
@model Box

@{ 
    TimeZoneConvert timeZoneConvert = new TimeZoneConvert();
    EnumData.TimeZone TimeZone = MyHelp.GetTimeZone((int)Session["TimeZone"]);
    List<ActionLog> logList = (List<ActionLog>)ViewBag.logList;
}

@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row table-parent">
            <div class="tool-content table-row col-xs-12">
                <div class="col-xs-6">
                    <table class="table table-bordered" style="background-color:white; margin-bottom:0;">
                        <tr>
                            <td width="20%">Box ID：</td>
                            <td width="30%">@Model.BoxID</td>
                            <td width="20%">Type：</td>
                            <td width="30%">@EnumData.BoxTypeList()[(EnumData.DirectLineBoxType)Model.BoxType]</td>
                        </tr>
                        <tr>
                            <td>Supplier Box ID：</td>
                            <td>@Model.SupplierBoxID</td>
                            <td>Status：</td>
                            <td>@Enum.GetName(typeof(EnumData.DirectLineStatus), Model.ShippingStatus)</td>
                        </tr>
                        <tr>
                            <td>From：</td>
                            <td></td>
                            <td>Tracking：</td>
                            <td>@Model.TrackingNumber</td>
                        </tr>
                        <tr>
                            <td>To：</td>
                            <td></td>
                            <td>Carrier：</td>
                            <td>@ViewData["Carrier"]</td>
                        </tr>
                        <tr>
                            <td>SC WIT ID：</td>
                            <td></td>
                            <td>Box QTY：</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Notes：</td>
                            <td colspan="3">@Model.Note</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6">
                    <textarea class="form-control" rows="11">@string.Join("\n", logList.Select(log => string.Format("{0} On:{1} {2}", new string[] { log.ActionName, timeZoneConvert.InitDateTime(log.CreateDate.Value, EnumData.TimeZone.UTC).ConvertDateTime(TimeZone).ToString("MM/dd/yyyy hh:mm tt"), log.AdminName })))</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/scripts/datagrid-detailview.js"></script>
    <script src="~/scripts/jquery.number.min.js"></script>
    <script type="text/javascript">
        var pager, pageSize = 100, selectOption;
        var $dataGrid;

        $(function () {
            var data = { optionType: ['StatusCode'] };
            getOption("@Url.Action("getSelectOption", "directLine")", 'post', data).done(function (response) {
                if (response['status']) {
                    selectOption = response['data'];

                    dataInit();
                } else {
                    alert(response['message']);
                }
            });
        });

        function dataInit() {
            $dataGrid = $("#DataGrid").datagrid({
                title: "訂單 列表",
                idField: "PackageID",
                url: "@Url.Action("getBoxOrderData", "directLine")",
                queryParams: {
                    boxID: '@Model.BoxID'
                },
                width: "100%",
                height: window.screen.availHeight - 410,
                checkOnSelect: false,
                selectOnCheck: false,
                singleSelect: false,
                columns: [[
                    { field: "ProductID", title: "SKU", width: 150, align: "center", sortable: false },
                    { field: "ProductName", title: "Product Name", width: 400, align: "center", sortable: false },
                    { field: "SentQty", title: "Sent QTY", width: 100, align: "center", sortable: false },
                    { field: "ReceivedQty", title: "Received QTY", width: 100, align: "center", sortable: false },
                    { field: "Weight", title: "Weight(each)", width: 100, align: "center", sortable: false },
                    { field: "OrderID", title: "Order ID", width: 120, align: "center", sortable: false },
                    { field: "Serial", title: "Serial", width: 150, align: "center", sortable: false },
                    { field: "LabelID", title: "Label ID", width: 150, align: "center", sortable: false },
                    {
                        field: "Action", title: "Action", width: 250, align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            return "<select class='form-control'>" + setSelectOption(selectOption['StatusCode'], row.StatusCode) + "</select>"
                        }
                    }
                ]],
                onLoadSuccess: function (data) {
                },
                onBeforeLoad: function (param) {
                },
                onBeforeSelect: function () {
                    return false
                },
                view: detailview,
                detailFormatter: function (index, row) {
                    return '<div id="itemList"></div>';
                },
                onExpandRow: function (index, row) {
                    if (row.SentQty == 1) {
                        $dataGrid.datagrid("collapseRow", index);
                    } else {
                        var $itemList = $(this).datagrid('getRowDetail', index).find('div#itemList');

                        $itemList.panel({
                            border: false,
                            cache: false,
                            href: "@Html.Raw(Url.Action("ProductList", "directLine", new { PackageID = "_id_", Type = "BoxOrder" }))".replace("_id_", row.PackageID),
                            onLoad: function (response) {
                                $("#datagrid-row-r1-1-" + index).next("tr").find(".datagrid-row-detail").html($itemList.find("table:hidden").remove().removeClass("hidden"));
                            }
                        });

                        $dataGrid.datagrid("fixDetailRowHeight", index);
                    }
                },
                pagination: true,
                pagePosition: "bottom",
                pageSize: pageSize
            });

            pager = $dataGrid.datagrid("getPager");
            $(pager).pagination({
                pageSize: pageSize,
                showPageList: true,
                pageList: [100, 200, 300, 500],
                beforePageTest: "第",
                afterPageTest: "頁，共 {pages} 頁",
                displayMsg: "顯示 {from} 到 {to} 筆資料，共 {total} 筆資料"
            });
        }

        function setSelectOption(optionList, value) {
            var option = "";

            if (!isEmpty(optionList) && optionList.length > 0) {
                for (var i in optionList) {
                    option += "<option value='" + optionList[i]["value"] + "' " + (!isEmpty(value) && optionList[i]["value"] == value ? "selected" : "") + ">" + optionList[i]["text"] + "</option>";
                }
            }

            return option;
        }

        function isEmpty(value) {
            return (value == undefined) || (value == null) || (value == "");
        }

        function getOption(url, type, data) {
            type = !isEmpty(type) ? type : {};
            data = !isEmpty(data) ? data : {};

            return $.ajax({
                url: url,
                type: type,
                data: data,
                dataType: "json"
            });
        }
    </script>
}




