@using QDLogistics.OrderService

@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        table tbody tr td {
            vertical-align: middle !important;
        }

        .datagrid-body .filterColumn:first-child td div {
            padding: 0
        }
    </style>
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="hidden">
            <div id="dialog-dispatch" class="easyui-dialog" title="請選擇方式" data-options="iconCls:'icon-edit',closed:true,resizable:false" style="width:500px;">
                <div class="col-sm-12" style="text-align:center; padding:0px;">
                    <form id="form-data">
                        <input type="hidden" id="labelID" name="labelID" />
                        <table class="table table-bordered text-left" style="margin:0;">
                            <tr>
                                <td width="50"><input class="form-control" type="radio" name="dispatchType" value="new" style="height:20px;" checked /></td>
                                <td width="40%">New Order</td>
                                <td style="padding: 0px;"><input type="text" class="form-control" name="newOrderID" placeholder="NewOrderID" /></td>
                            </tr>
                            <tr>
                                <td width="50"><input class="form-control" type="radio" name="dispatchType" value="dispatch" style="height:20px;" /></td>
                                <td colspan="2">Resend Order</td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="2">Shipping Method</td>
                                <td class="input-group" style="padding: 0px;">
                                    <select class="form-control" id="select-method" name="methodID"></select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-sm" id="btn-submit">送出</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/scripts/datagrid-detailview.js"></script>
    <script src="~/scripts/jquery.number.min.js"></script>
    <script type="text/javascript">
        var pager, pageSize = 100, selectOption, filterValue = {};
        var selected = false;
        var $dataGrid;
        var $dispatchDialog = $('#dialog-dispatch'), $dataForm = $('#form-data'), $methodSelect = $('#select-method'), $submitBtn = $('#btn-submit');

        $(function () {
            var data = { optionType: ['Warehouse'] };
            ajaxUrl("@Url.Action("getSelectOption", "directLine")", 'post', data).done(function (response) {
                if (response['status']) {
                    selectOption = response['data'];

                    dataInit();
                } else {
                    alert(response['message']);
                }
            });
            
            $submitBtn.click(function () {
                if (confirm("是否確定送出?")) {
                    var data = $dataForm.serializeArray();
                    if (data['dispatchType'] != 'new') data['newOrderID'] = null;
                    ajaxUrl('@Url.Action("reDispatch", "directLine")', 'post', data).done(function (response) {
                        if (response.status) {
                            alert("Success!");
                            $caseDialog.dialog("close");
                        } else {
                            alert(response.message);
                        }
                    });
                }
            });
        });

        function dataInit() {
            $dataGrid = $("#DataGrid").datagrid({
                title: "Direct Line Cancel列表",
                idField: "LabelID",
                url: "@Url.Action("getCancelData", "directLine")",
                queryParams: {},
                width: "100%",
                height: window.screen.availHeight - 200,
                checkOnSelect: false,
                selectOnCheck: false,
                singleSelect: false,
                frozenColumns: [[
                    { field: "LabelID", title: "Label ID<br />原標籤號碼", width: 200, align: "center", sortable: false },
                    { field: "OrderID", title: "Order ID<br />原訂單號碼", width: 100, align: "center", sortable: false }
                ]],
                columns: [[
                    { field: "NewLabelID", title: "New Label ID<br />新標籤號碼", width: 200, align: "center", sortable: false },
                    { field: "NewOrderID", title: "New Order ID<br />新訂單號碼", width: 100, align: "center", sortable: false },
                    { field: "RMAID", title: "RMA ID", width: 80, align: "center", sortable: false },
                    { field: "Sku", title: "Sku<br />品號", width: 120, align: "center", sortable: false },
                    { field: "ProductName", title: "Product Name<br />產品名稱", width: 500, align: "center", sortable: true },
                    { field: "SerialNumber", title: "Serial Number<br />序號", width: 150, align: "center", sortable: false },
                    {
                        field: "WarehouseID", title: "Warehouse<br />入庫倉庫", width: 150, align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            return !isEmpty(row.WarehouseName) ? row.WarehouseName : value;
                        }
                    },
                    { field: "CreateDate", title: "入庫日期", width: 150, align: "center", sortable: false },
                    {
                        field: "Action", title: "Action<br />動作", width: 80, align: "center", sortable: false,
                        formatter: function (value, row, index) {
                            if (!isEmpty(row.WarehouseName)) {
                                return "<button type='button' class='btn btn-default btn-sm' onclick='dispatchLabel(\"" + row.LabelID + "\")' " + (row.IsUsed ? 'disabled' : '') + ">Dispatch</button>";
                            }
                        }
                    }
                ]],
                rowStyler: function (index) {
                    if (index == 0) return { class: 'filterColumn' }
                },
                onLoadSuccess: function (data) {
                    $dataGrid.datagrid('insertRow', {
                        index: 0,
                        row: setFilterColumn(filterValue)
                    });

                    if (data.total > 0) {
                        $('.datepicker').datepicker({
                            dateFormat: 'yy-mm-dd'
                        });

                        $('.filterColumn').on('change', 'input, select', function () {
                            filterValue = getFilterData();

                            $dataGrid.datagrid('reload');
                        });
                    } else {
                        $dataGrid.datagrid('deleteRow', 0);
                    }
                },
                onBeforeLoad: function (param) {
                    Object.keys(filterValue).forEach(function (key) {
                        if (!isEmpty(filterValue[key])) param[key] = filterValue[key];
                    });
                },
                onBeforeSelect: selectAction,
                onBeforeUnselect: selectAction,
                view: detailview,
                detailFormatter: function (index, row) {
                    return '<div id="itemList"></div>';
                },
                onExpandRow: function (index, row) {
                    if (row.Qty == 1) {
                        $dataGrid.datagrid("collapseRow", index);
                    } else {
                        var $itemList = $("div#itemList:eq(" + index + ")");

                        $itemList.panel({
                            border: false,
                            cache: false,
                            href: "@Html.Raw(Url.Action("productList", "directLine", new { TargetID = "_id_", Type = "CancelLabel" }))".replace("_id_", row.LabelID),
                            onLoad: function (response) {
                                $("#datagrid-row-r1-1-" + index).next("tr").find(".datagrid-row-detail").html($itemList.find("table:hidden").remove().removeClass("hidden"));
                            }
                        });

                        $dataGrid.datagrid("fixDetailRowHeight", index);
                    }
                },
                pagination: true,
                pagePosition: "bottom",
                pageSize: pageSize
            });

            pager = $dataGrid.datagrid("getPager");
            $(pager).pagination({
                pageSize: pageSize,
                showPageList: true,
                pageList: [100, 200, 300, 500],
                beforePageTest: "第",
                afterPageTest: "頁，共 {pages} 頁",
                displayMsg: "顯示 {from} 到 {to} 筆資料，共 {total} 筆資料"
            });
        }

        function dispatchLabel(labelID) {
            $('#labelID').val(labelID);

            var index = $dataGrid.datagrid("getRowIndex", labelID);
            var label = $dataGrid.datagrid("getRows")[index];

            ajaxUrl('@Url.Action("getShippingMethodByWarehouse", "directLine")', 'get', { warehouseID: label.WarehouseID }).done(function (response) {
                if (response.status) {
                    $methodSelect.html(response.data);
                    $dispatchDialog.dialog('open');
                } else {
                    alert(response.message);
                }
            });
        }

        function selectAction(index, row) {
            if (selected) {
                selected = false;
                return true;
            }
            return false;
        }

        function getFilterData() {
            return {
                LabelID: $('.filterColumn .s-labelID').val(),
                OrderID: $('.filterColumn .s-orderID').val(),
                NewLabelID: $('.filterColumn .s-newLabelID').val(),
                NewOrderID: $('.filterColumn .s-newOrderID').val(),
                RMAID: $('.filterColumn .s-RMAID').val(),
                Sku: $('.filterColumn .s-sku').val(),
                ProductName: $('.filterColumn .s-productName').val(),
                SerialNumber: $('.filterColumn .s-serialNumber').val(),
                WarehouseID: $('.filterColumn .s-warehouseID').val(),
                CreateDate: $('.filterColumn .s-createDate').val()
            };
        }

        function setFilterColumn(filterValue) {
            return {
                Qty: 1,
                LabelID: "<input type='text' class='form-control s-labelID' value='" + (!isEmpty(filterValue['LabelID']) ? filterValue['LabelID'] : '') + "'>",
                OrderID: "<input type='text' class='form-control s-orderID' value='" + (!isEmpty(filterValue['OrderID']) ? filterValue['OrderID'] : '') + "'>",
                NewLabelID: "<input type='text' class='form-control s-newLabelID' value='" + (!isEmpty(filterValue['NewLabelID']) ? filterValue['NewLabelID'] : '') + "'>",
                NewOrderID: "<input type='text' class='form-control s-newOrderID' value='" + (!isEmpty(filterValue['NewOrderID']) ? filterValue['NewOrderID'] : '') + "'>",
                RMAID: "<input type='text' class='form-control s-RMAID' value='" + (!isEmpty(filterValue['RMAID']) ? filterValue['RMAID'] : '') + "'>",
                Sku: "<input type='text' class='form-control s-sku' value='" + (!isEmpty(filterValue['Sku']) ? filterValue['Sku'] : '') + "'>",
                ProductName: "<input type='text' class='form-control s-productName' value='" + (!isEmpty(filterValue['ProductName']) ? filterValue['ProductName'] : '') + "'>",
                SerialNumber: "<input type='text' class='form-control s-serialNumber' value='" + (!isEmpty(filterValue['SerialNumber']) ? filterValue['SerialNumber'] : '') + "'>",
                WarehouseID: "<select class='form-control s-warehouseID'><option value=''>全部</option>" + setSelectOption(selectOption['Warehouse'], filterValue['WarehouseID']) + "</select>",
                CreateDate: "<input type='text' class='form-control datepicker s-createDate' value='" + (!isEmpty(filterValue['CreateDate']) ? filterValue['CreateDate'] : '') + "'>"
            };
        }

        function setSelectOption(optionList, value) {
            var option = "";

            if (optionList.length > 0) {
                for (var i in optionList) {
                    option += "<option value='" + optionList[i]["value"] + "' " + (!isEmpty(value) && optionList[i]["value"] == value ? "selected" : "") + ">" + optionList[i]["text"] + "</option>";
                }
            }

            return option;
        }

        function onStatusChange(CaseID) {
            if (confirm("是否確定要修改?")) {
                var index = $dataGrid.datagrid("getRowIndex", CaseID) - 1;
                var CaseStatus = $('select#CaseStatus:eq(' + index + ')').val();
                ajaxUrl('@Url.Action("updateStatus", "caseEvent")', 'post', { CaseID, CaseStatus }).done(function (response) {
                    if (response.status) {
                        alert("Success!");
                        $dataGrid.datagrid('reload');
                    } else {
                        alert(response.message);
                    }
                });
            }
        }

        function isEmpty(value) {
            return (value == undefined) || (value == null) || (value == "");
        }

        function ajaxUrl(url, type, data) {
            type = !isEmpty(type) ? type : {};
            data = !isEmpty(data) ? data : {};

            return $.ajax({
                url: url,
                type: type,
                data: data,
                dataType: "json"
            });
        }

        var urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return decodeURI(results[1]) || 0;
            }
        }
    </script>
}


