@using QDLogistics.Models;
@using QDLogistics.Commons;
@section styles{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        .action-button {
            display: inline-block;
            max-width: 200px;
        }

            .action-button > div {
                margin: 5px 10px;
            }

        #win-printer section {
            margin-bottom: 5px;
        }

        #win-pick label {
            min-width: 200px;
            margin-left: 0px;
        }

        table tbody tr td {
            vertical-align: middle !important;
        }

        table tbody tr.title-row td {
            vertical-align: top !important;
        }

        #table-box tr td {
            border-width: 1px !important;
        }
    </style>
}
@{
    List<DirectLine> directLineList = ViewBag.directLineList;
    List<ShippingMethod> methodList = ViewBag.methodList;
    var route = new { warehouseId = ViewData["warehouseId"], adminId = ViewData["adminId"] };
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="action-button col-xs-2">
                <div>
                    <select class="form-control" id="select-type">
                        @foreach (DirectLine directLine in directLineList)
                        {
                            <option value="@directLine.ID">@directLine.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <select class="form-control" id="select-typeMethod">
                        <option value="0">全部</option>
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg btn-block" id="btn-sync">同步產品序號</button>
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg btn-block" id="btn-pick">列印檢貨單</button>
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg btn-block" id="btn-ship">開始出貨</button>
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg btn-block" id="btn-enter">輸入訂單號<br />(優先出貨)</button>
                </div>
                <div class="hidden">
                    <div id="win-pick" class="easyui-window" title="撿貨單" style="width:1200px;height:500px;padding:5px;"
                         data-options="iconCls:'icon-save',collapsible:false,minimizable:false,maximizable:false,closed:true,draggable:false,resizable:false,modal:true"></div>
                    <div id="dialog-serial" class="easyui-dialog" title="請輸入產品序號/品號" data-options="iconCls:'icon-edit',closed:true,resizable:false,onBeforeClose:ProductSerialData.Refresh_Page" style="width:1000px;top:200px;">
                        <div class="col-sm-12" data-options="region:'north',border:false" style="text-align:right;padding:5px;">
                            <div class="col-sm-10" style="text-align:center; padding:0 5px 0 0;">
                                <table class="table table-bordered text-center" id="info-box" style="margin:0;">
                                    <tr>
                                        <td width="40%" id="directLineName" rowspan="3"></td>
                                        <td width="30%">Box ID:</td>
                                        <td width="30%" id="boxID"></td>
                                    </tr>
                                    <tr>
                                        <td>Carrier:</td>
                                        <td class="no-padding">
                                            <select class="form-control" id="select-method">
                                                @{ foreach (ShippingMethod method in methodList)
                                    {
                                        <option value="@method.ID">@method.Name</option>
                    }}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Box No.</td>
                                        <td id="boxNo"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-2 no-padding">
                                <button class="btn btn-default btn-sm btn-block" id="btn-boxSave">下一步</button>
                                <button class="btn btn-default btn-sm btn-block">打印Box</button>
                            </div>
                        </div>
                        <div data-options="region:'center'">
                            <table id="table-box" class="easyui-datagrid" style="width:100%;height:400px" data-options="onBeforeSelect:function(){return false;}">
                                <thead>
                                    <tr>
                                        <th data-options="field:'OrderID',width:'10%',align:'center'">訂單</th>
                                        <th data-options="field:'ProductID',width:'10%',align:'center'">SKU</th>
                                        <th data-options="field:'ProductName',width:'35%',align:'center'">品名</th>
                                        <th data-options="field:'SerialNumber',width:'13%',align:'center'">Serial</th>
                                        <th data-options="field:'TagNo',width:'13%',align:'center'">標籤號碼</th>
                                        <th data-options="field:'Note',width:'13%',align:'center'">備註</th>
                                        <th data-options="field:'InBox',width:'5%',align:'center'">裝箱</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <table id="table-pickup" class="easyui-datagrid" style="width:100%;" data-options="onBeforeSelect:function(){return false;}">
                                <thead>
                                    <tr>
                                        <th data-options="field:'OrderID',width:'10%',align:'center'">訂單</th>
                                        <th data-options="field:'ProductID',width:'10%',align:'center'">SKU</th>
                                        <th data-options="field:'ProductName',width:'35%',align:'center'">品名</th>
                                        <th data-options="field:'SerialNumber',width:'13%',align:'center'">Serial</th>
                                        <th data-options="field:'TagNo',width:'13%',align:'center'">標籤號碼</th>
                                        <th data-options="field:'Note',width:'13%',align:'center'">備註</th>
                                        <th data-options="field:'Picked',width:'5%',align:'center'"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div data-options="region:'south',border:false" style="text-align:right;padding:5px;">
                            <span id="message-error" style="margin-right:5px;font-size:16px;color:red;vertical-align:middle;"></span>
                            <input type="text" class="easyui-textbox" id="input-serial" style="width:300px;height:30px;" />
                        </div>
                    </div>
                    <div id="dialog-order" class="easyui-dialog" title="請輸入訂單號碼" data-options="iconCls:'icon-edit',closed:true,draggable:false,resizable:false,onClose:function(){$orderInput.val('');}" style="width:300px;">
                        <input type="text" class="form-control" id="input-order" />
                    </div>
                    <div id="dialog-recycle" class="easyui-dialog" title="請輸入標籤號碼" data-options="iconCls:'icon-edit',closed:true,draggable:false,resizable:false,onClose:function(){return false;}" style="width:500px;">
                        <div id="msg-labelError" style="margin-right:5px;font-size:16px;color:red;vertical-align:middle;"></div>
                        <input type="text" class="form-control" id="input-label" />
                    </div>
                </div>
            </div>
            <article class="col-xs-10">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script src="~/scripts/jquery.easyui-1.4.3.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @Html.Raw(ViewBag.WCPScript)
    <script type="text/javascript">
        var pager, pageSize = 100;
        var $dataGrid;
        var directLineMethodList;
        var $typeSelect = $('#select-type'), $typeMethodSelect = $('#select-typeMethod'), $methodSelect = $('#select-method'), $syncBtn = $('#btn-sync'), $pickBtn = $("#btn-pick"),
            $shipBtn = $("#btn-ship"), $enterBtn = $("#btn-enter"), $pickWin = $('#win-pick'), $serialDialog = $('#dialog-serial'), $serialInput = $('#input-serial'),
            $orderDialog = $('#dialog-order'), $orderInput = $('#input-order'), $recycleDialog = $('#dialog-recycle'), $labelErrorMsg = $('#msg-labelError'), $labelInput = $('#input-label'),
            $boxInfo = $('#info-box'), $pickupTable = $('#table-pickup'), $boxTable = $('#table-box'), $boxSaveBtn = $("#btn-boxSave");

        var isSync = false, taskID = null, now = undefined;

        $(function () {
            var conn = $.connection.apiServer;
            $.connection.hub.start().done(function () {
                conn.server.register('@ViewData["adminName"]');

                var url = '@Url.Action("getDirectLineMethod", "directLine")';
                ajaxUrl(url, 'get', {}).done(function (response) {
                    if (response.status) {
                        directLineMethodList = response.data;
                        $typeSelect.trigger('change');
                    } else {
                        alert(response.message);
                    }
                });

                dataInit();
            });

            conn.client.refreshOrderPickUp = function (response) {
                ProductSerialData.Update_OrderList($.parseJSON(response));
            };

            $typeSelect.change(function () {
                $typeMethodSelect.html($typeMethodSelect.find('option:first').clone());
                $typeMethodSelect.append(setSelectOption(directLineMethodList[$typeSelect.val()]));
                $typeMethodSelect.trigger('change');
            });

            $typeMethodSelect.change(function(){
                ProductSerialData.Get_Data();
            });

            $syncBtn.click(function () {
                if(isSync) return alert('目前尚有工作在執行中');

                var url = "@Url.Action("checkPurchaseItem", "orderSync")";
                ajaxUrl(url, 'get', {}).done(function (response) {
                    if(response['status']) {
                        taskID = response['taskID'];
                        isSync = true;

                        url = "@Url.Action("checkTaskStatus", "orderSync")";
                        ajaxUrl(url, 'get', { id: taskID }).done(function (response) {
                            $('div#text-hint strong').html("工作" + response['message']);

                            var refreshId = setInterval(function() {
                                ajaxUrl(url, 'get', { id: taskID }).done(function (response) {
                                    $('div#text-hint strong').html("工作" + response['message']);

                                    if(!response['status']) {
                                        window.clearInterval(refreshId);
                                        ProductSerialData.Get_Data();
                                        isSync = false;
                                    }
                                });
                            }, 5000);
                        });
                    }

                    alert(response['message']);
                });
            });

            $pickBtn.click(function () {
                $pickWin.window("open").window("refresh", "@Url.Action("packagePickUpList", "directLine")");
            });

            $shipBtn.click(function () {
                if(!ProductSerialData.Is_Init()) return alert("尚未預載資料!");

                ProductSerialData.Get_Box();

                $serialDialog.dialog('open');
                $serialInput.textbox('textbox').focus();
            });

            $boxSaveBtn.click(function () {
                if (confirm("是否確定進行下一步?")) {
                    ProductSerialData.Save_box();
                }
            });

            $enterBtn.click(function () {
                if(!ProductSerialData.Is_Init()) return alert("尚未預載資料!");

                $orderDialog.dialog('open');
                $orderInput.focus();
            });

            $serialInput.textbox('textbox').keypress(function (event) {
                if (event.keyCode == 13) {
                    ProductSerialData.Check_Serial($serialInput.textbox('getValue'));
                }
            });

            $orderInput.keypress(function (event) {
                if (event.keyCode == 13) {
                    if (isEmpty($orderInput.val())) return alert('不可為空!');

                    ProductSerialData.Pick_Order($orderInput.val()).done(function(result){
                        if(result){
                            $orderDialog.dialog('close');
                            $shipBtn.trigger('click');
                        }else{
                            return alert('查無此訂單!');
                        }
                    });
                }
            });
        });

        function dataInit() {
            $dataGrid = $("#DataGrid").datagrid({
                title: "未出貨包裏 列表",
                idField: "BoxID",
                url: "@Url.Action("getBoxData", "directLine")",
                queryParams: {
                    Status: 0
                },
                width: "100%",
                height: window.screen.availHeight-280,
                checkOnSelect: false,
                selectOnCheck: false,
                singleSelect: false,
                frozenColumns: [[
                    {
                        field: "BoxID", title: "Box ID", width: 150, align: "center", sortable: true,
                        formatter: function (value, row, index) {
                            if (!isEmpty(value)) {
                                return "<a href='@Url.Action("boxEdit", "directLine")/" + value + "'>" + value + "</a>";
                            }
                        }
                    },
                    { field: "SupplierBoxID", title: "Supplier Box ID", width: 150, align: "center", sortable: true }
                ]],
                columns: [[
                    { field: "CreateDate", title: "Create Date", width: 120, align: "center", sortable: false },
                    { field: "WarehouseTo", title: "To", width: 150, align: "center", sortable: false },
                    { field: "BoxQty", title: "Box Qty", width: 60, align: "center", sortable: false },
                    { field: "TotalWeight", title: "Total Weight", width: 80, align: "center", sortable: false },
                    { field: "WITID", title: "SC WIT ID", width: 150, align: "center", sortable: false },
                    { field: "Tracking", title: "Tracking", width: 150, align: "center", sortable: false },
                    { field: "Status", title: "Status", width: 100, align: "center", sortable: false },
                    { field: "Type", title: "Type", width: 150, align: "center", sortable: false },
                    { field: "Note", title: "Notes", width: 250, align: "center", sortable: false }
                ]],
                onBeforeSelect: function () {
                    return false
                },
                pagination: true,
                pagePosition: "bottom",
                pageSize: pageSize
            });

            pager = $dataGrid.datagrid("getPager");
            $(pager).pagination({
                pageSize: pageSize,
                showPageList: true,
                pageList: [100, 200, 300, 500],
                beforePageTest: "第",
                afterPageTest: "頁，共 {pages} 頁",
                displayMsg: "顯示 {from} 到 {to} 筆資料，共 {total} 筆資料"
            });
        }

        function printPickUpList() {
            var url = '@Url.Action("printPickUpList", "directLine")';
            ajaxUrl(url, 'post', { warehouseId:@route.warehouseId, adminId:@route.adminId }).done(function (response) {
                if(response['status']){
                    print($.param({fileName: response['fileName'], filePath: response['filePath'], amount: response['amount']}, true));
                }

                $pickWin.window('close');
            });
        }

        function setSelectOption(optionList, value) {
            var option = "";

            if (!isEmpty(optionList) && optionList.length > 0) {
                for (var i in optionList) {
                    option += "<option value='" + optionList[i]["value"] + "' " + (!isEmpty(value) && optionList[i]["value"] == value ? "selected" : "") + ">" + optionList[i]["text"] + "</option>";
                }
            }

            return option;
        }

        function isEmpty(value) {
            return (value == undefined) || (value == null) || (value == "");
        }

        function ajaxUrl(url, type, data) {
            type = !isEmpty(type) ? type : {};
            data = !isEmpty(data) ? data : {};

            return $.ajax({
                url: url,
                type: type,
                data: data,
                dataType: "json"
            });
        }

        function print(params) {
            jsWebClientPrint.print(params);
        }

        var ProductSerialData = function () {
            var isInit = false, needSerial, orderChangeList = [], boxOrderList = { rows: [] };
            var groupList, productList, serialList, fileList;
            var gb_OrderID, gb_PackageID, boxInfo;

            var init = function (){
                var url = '@Url.Action("getOrderSerialData", "directLine")';
                ajaxUrl(url, 'get', { type: $typeSelect.val(), methodID: $typeMethodSelect.val()}).done(function(response){
                    if(response['status']){
                        groupList = response['data']['groupList'];
                        productList = response['data']['productList'];
                        serialList = response['data']['serialList'];
                        fileList = response['data']['fileList'];
                        groupList["Priority"] = {};
                    }
                    isInit = response['status'];
                });
                orderLocked();
                orderChangeList = [];
            };

            var getBoxData = function () {
                var url = '@Url.Action("getCurrentBox", "directLine")';
                ajaxUrl(url, 'get', { type: $typeSelect.val() }).done(function (response) {
                    if (response.status) {
                        boxInfo = response.data.info;

                        $('#directLineName').html($typeSelect.find('option:selected').html());
                        $('#boxID').html(boxInfo.BoxID);
                        $('#select-method').find('option[value=' + boxInfo.FirstMileMethod + ']').prop('selected', true);
                        $('#boxNo').html(boxInfo.BoxNo);

                        if (response.data.list.length > 0) {
                            var list = response.data.list;

                            boxOrderList.rows = [];
                            list.forEach(function (value, i) {
                                value.InBox = "<img src='../content/img/" + (value.InBox ? "checked" : "error") + ".png' runat='server' style='width: auto; height: 15px;'>";
                                boxOrderList.rows.push(value);
                            });

                            $boxTable.datagrid('loadData', boxOrderList);
                        }
                    }
                });
            }

            var checkSerial = function(serial){
                var productId, order, serialNumber;

                if(!ProductSerialData.Is_Init()) return alert("尚未預載資料!");

                if (isEmpty(serial)) return error('不可為空!');

                for (var pId in serialList) {
                    needSerial = false;

                    //if($.inArray(serial, serialList[pId].used) != -1) return error("序號已被使用!");
                    if($.inArray(serial, serialList[pId].serials) != -1){
                        productId = pId;
                        serialNumber = serial;
                    }
                }

                if (isEmpty(productId)) {
                    var UPCPicked;
                    Object.keys(productList).forEach(function (pId) {
                        UPCPicked = Object.keys(productList[pId]).map(i => productList[pId][i]).filter(product => product.UPC == serial);
                        if (UPCPicked.length > 0) productId = pId;
                    });

                    if (isEmpty(productId)) {
                        if (isEmpty(productList[serial])) return error("找不到產品!");
                        productId = serial;
                    }

                    if (!isEmpty(serialList[pId])) {
                        needSerial = serialList[pId].isRequire;
                    }
                }

                var products = productList[productId];
                var notPicked = Object.keys(products).map(i => products[i]).filter(product => !product.IsPicked);
                if(!isEmpty(gb_OrderID) && !isEmpty(gb_PackageID)){
                    notPicked = notPicked.filter(product => product.OrderID == gb_OrderID && product.PackageID == gb_PackageID);
                }
                if(notPicked.length == 0) return error("產品不符合!");

                var pData, order, typeList = ["Single", "Multiple", "Priority"];
                for(var type in typeList){
                    if(!isEmpty(groupList[typeList[type]])){
                        for(var i in notPicked){
                            pData = notPicked[i];
                            order = groupList[typeList[type]][pData.OrderID]

                            if (!isEmpty(order) && checkPicked(pData, order, serialNumber)) {
                                $pickupTable.datagrid('loadData', { rows: [] });

                                $boxTable.datagrid('loadData', boxOrderList);
                                $boxTable.datagrid('scrollTo', boxOrderList.rows.length - 1);

                                return error("");
                            }
                        }
                    }
                }
            };

            function checkPicked(pData, order, serialNumber) {
                var product = order[pData.PackageID][pData.ItemID];

                if (needSerial) {
                    error("產品需要輸入序號!");
                } else {
                    pData.QtyPicked = product.data.QtyPicked += 1;
                    pData.IsPicked = product.data.IsPicked = (product.data.QtyPicked == product.data.Qty);

                    if (!isEmpty(serialNumber)) {
                        product.serial.push(serialNumber);
                        if ($.inArray(serialNumber, serialList[product.data.ProductID].used) == -1) {
                            serialList[product.data.ProductID].used.push(serialNumber);
                        }
                    }
                }

                if (isEmpty(gb_OrderID) || isEmpty(gb_PackageID)) orderLocked(pData.OrderID, pData.PackageID);

                if (product.data.IsPicked) {
                    var needPick = Object.keys(order[pData.PackageID]).map(itemID => order[pData.PackageID][itemID]).filter(product => !product.data.IsPicked);

                    if (needPick.length == 0) {
                        if (!findOrderChange(pData.OrderID)) {
                            updatePicked(pData, order, false);
                            joinBoxList(order[pData.PackageID]);
                        }

                        if (orderChangeList.length != 0) init();
                    }
                    return true;
                } else {
                    showList(order[pData.PackageID]);

                    return false;
                }
            }

            function findOrderChange(orderID){
                if(orderChangeList.length > 0){
                    var orderFilter = orderChangeList.filter(function(order) {
                        return (order['OrderID'] == orderID) && (order['Status'] == 1);
                    });

                    if(orderFilter.length > 0){
                        alert('訂單【'+ orderID +' 】'+(orderFilter[0]['Status'] == 1 ? '已取消出貨!' : '已完成出貨!'));
                        orderLocked();
                        return true;
                    }
                }
                return false;
            }

            function updatePicked(pData, order, retry) {
                var data = new FormData();
                var picked = new Array(), serials = new Object();

                for(var itemID in order[pData.PackageID]){
                    picked.push(order[pData.PackageID][itemID].data);
                    serials[itemID] = order[pData.PackageID][itemID].serial;
                }

                var url = '@Url.Action("orderPicked", "directLine")';
                ajaxUrl(url, 'post', { boxID: boxInfo.BoxID, picked: picked, serials: serials }).done(function(response){
                    if(response['status']) {
                        if (retry) error('訂單【' + gb_OrderID + '】更新失敗，資料已重新寄送!');
                        print($.param(response.data, true));
                        orderLocked();
                    } else {
                        alert(response['message']);
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    updatePicked(pData, order, true);
                });
                orderLocked();
            }

            var resetSerial = function(){
                error("");

                var rows = $pickupTable.datagrid('getRows');
                if(rows.length == 0) return true;

                var notPicked = rows.filter(product => !product.IsPicked);
                if(notPicked.length > 0){
                    var order = searchOrder(notPicked[0].OrderID);
                    $.each(order[notPicked[0].PackageID], function(itemID, product){
                        if(product.serial.length > 0){
                            var serials = $.grep(serialList[product.data.ProductID].used, function(s, i){
                                return $.inArray(s, product.serial);
                            });

                            product.data.IsPicked = false;
                            product.data.QtyPicked = 0;
                            product.serial = [];

                            productList[product.data.ProductID][product.data.ItemID] = product.data;
                            serialList[product.data.ProductID].used = serials;
                        }
                    });
                }

                orderLocked();

                return $pickupTable.datagrid('loadData', {total:0, rows:[]});
            };

            function pickOrder(orderID){
                var order = searchOrder(orderID);

                if(!isEmpty(order)){
                    resetSerial();
                    orderLocked(orderID, Object.keys(order)[0]);
                    showList(order[gb_PackageID]);
                    return true;
                }

                return false;
            }

            function searchOrder(orderID){
                var order = false, typeList = ["Single", "Multiple", "Priority"];

                $.each(typeList, function (i, type) {
                    if(!isEmpty(groupList[type])) {
                        order = groupList[type][orderID];

                        if(!isEmpty(order)) return false;
                    }
                });

                return order;
            }

            function showList(items) {
                var data = { total: 0, rows: [] };
                var product, serialNumber;

                for(var itemID in items){
                    product = items[itemID].data;
                    serialNumber = items[itemID].serial;

                    for(var i=1; i <= product.Qty; i++){
                        data.rows.push({
                            IsPicked: product.IsPicked, OrderID: product.OrderID, PackageID: product.PackageID, ProductID: product.ProductID, ProductName: product.ProductName, SerialNumber: (i <= product.QtyPicked ? serialNumber[i - 1] : ""),
                            TagNo: product.TagNo, Note: product.Note,
                            Picked: "<img src='../content/img/" + (i <= product.QtyPicked ? "checked" : "error") + ".png' runat='server' style='width: auto; height: 15px;'>"});
                        data.total++;
                    }
                }

                $pickupTable.datagrid('loadData', data);
            }

            function joinBoxList(items) {
                var product, serialNumber;

                for (var itemID in items) {
                    product = items[itemID].data;
                    serialNumber = items[itemID].serial;

                    for (var i = 1; i <= product.Qty; i++) {
                        boxOrderList.rows.push({
                            OrderID: product.OrderID, PackageID: product.PackageID, ProductID: product.ProductID, ProductName: product.ProductName, SerialNumber: (i <= product.QtyPicked ? serialNumber[i - 1] : ""), TagNo: product.TagNo, Note: product.Note,
                            InBox: "<img src='../content/img/" + (product.InBox ? "checked" : "error") + ".png' runat='server' style='width: auto; height: 15px;'>"
                        });
                    }
                }
            }

            function orderLocked(orderID, packageID){
                gb_OrderID = orderID;
                gb_PackageID = packageID;
            }

            function error(message){
                $("#message-error").html(message);
                $serialInput.textbox('clear');
            }

            return {
                Is_Init: function(){
                    return isInit;
                },
                Get_Data: init,
                Get_Box: getBoxData,
                Check_Serial: checkSerial,
                Refresh_Page: function () {
                    if (!confirm("是否確定要關閉?")) return false;

                    location.href = '@Url.Action("package", "directLine")';
                },
                Pick_Order: function(orderID){
                    var deferred = $.Deferred();

                    if(pickOrder(orderID)){
                        deferred.resolve(true);
                    }else{
                        var url = '@Url.Action("PickOrder", "ajax")';
                        ajaxUrl(url, 'get', { orderID: orderID, warehouseId: @route.warehouseId }).done(function (response) {
                            if(response['status']){
                                var data = response['data'];

                                groupList['Priority'][orderID] = data['groupList'];
                                $.each(data['productList'], function(pId, products){
                                    if(productList[pId] == undefined) {
                                        productList[pId] = {};
                                    }

                                    $.each(products, function(itemID, product){
                                        productList[pId][itemID] = product;
                                    });
                                });
                                $.each(data['serialList'], function(pId, serial){
                                    serialList[pId] = serial;
                                });
                                $.each(data['fileList'], function(packageID, file){
                                    fileList[packageID] = file;
                                });

                                if(pickOrder(orderID)) deferred.resolve(true);
                            }

                            deferred.resolve(false);
                        });
                    }

                    return deferred.promise();
                },
                Update_OrderList: function(order) {
                    orderChangeList.push(order);
                },
                Save_box: function () {
                    if (!isEmpty(boxInfo)) {
                        var url = '@Url.Action("saveBox", "directLine")';
                        ajaxUrl(url, 'post', { boxID: boxInfo.BoxID, methodID: $methodSelect.val() }).done(function (response) {
                            if (response.status) {
                                if (response.data.fileList.length > 0) {
                                    var file = response.data.fileList[0];
                                    print($.param({ fileName: file['fileName'], filePath: file['filePath'], amount: file['amount'], printerName: file['printerName'] }, true));
                                }

                                if (response.data.errorList.length > 0) {
                                    var errorList = response.data.errorList;

                                    var i = 0;
                                    $labelErrorMsg.html(errorList[i].ErrorMsg);
                                    $recycleDialog.dialog('open');
                                    $labelInput.focus();
                                    $labelInput.keypress(function (event) {
                                        if (event.keyCode == 13) {
                                            if (isEmpty($labelInput.val())) return alert('不可為空!');

                                            if ($labelInput.val() == errorList[i].LabelID) {
                                                if (++i < errorList.length) {
                                                    $labelErrorMsg.html(errorList[i].ErrorMsg);
                                                } else {
                                                    if (confirm("出貨完成，是否刷新頁面?")) {
                                                        location.href = '@Url.Action("package", "directLine")';
                                                    } else {
                                                        $serialDialog.dialog('close');
                                                    }

                                                }
                                            } else {
                                                $labelErrorMsg.html(errorList[i].ErrorMsg + ' - 輸入錯誤!');
                                            }
                                        }
                                    });
                                } else {
                                    if (confirm("出貨完成，是否刷新頁面?")) {
                                        location.href = '@Url.Action("package", "directLine")';
                                    } else {
                                        $serialDialog.dialog('close');
                                    }
                                }
                            } else {
                                alert(response.message);
                            }
                        });
                    }
                }
            };
        }();
    </script>
}